<section class="block">
    <div class="info-columns">
        {% if site.data.profile.education %}
        <div class="info-group">
            <h5 class="section-title">Education</h5>
            <ul class="info-list">
                {% for item in site.data.profile.education %}
                <li class="info-item">
                    {% if item.logo %}<img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" class="info-logo">{% endif %}
                    <div class="info-body">
                        <div class="info-name">{{ item.name }}</div>
                        {% if item.dept %}<div class="info-meta"><span>{{ item.dept }}</span></div>{% endif %}
                        <div class="info-meta">
                            <span>{{ item.position }}</span>
                            <span class="info-date">{{ item.date }}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if site.data.profile.experience %}
        <div class="info-group">
            <h5 class="section-title">Experience</h5>
            <ul class="info-list">
                {% for item in site.data.profile.experience %}
                <li class="info-item">
                    {% if item.logo %}<img src="{{ item.logo | relative_url }}" alt="{{ item.name }}" class="info-logo">{% endif %}
                    <div class="info-body">
                        <div class="info-name">{{ item.name }}</div>
                        {% if item.dept %}<div class="info-meta"><span>{{ item.dept }}</span></div>{% endif %}
                        <div class="info-meta">
                            <span>{{ item.position }}</span>
                            <span class="info-date">{{ item.date }}</span>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    {% if site.data.profile.awards %}
    <div class="info-group mt-4">
        <h5 class="section-title">Honors &amp; Awards</h5>
        <ul class="info-list">
            {% for item in site.data.profile.awards %}
            <li class="info-item">
                <div class="info-body">
                    <div class="info-meta">
                        <span class="info-name">{{ item.name }}</span>
                        <span class="info-date">{{ item.date }}</span>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</section>
