{% assign news_by_year = site.news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<section class="block">
    <h5 class="section-title">News</h5>
    <div class="news-list">
        {% for year in news_by_year %}
        <div class="news-item">
            <div class="news-year">{{ year.name }}</div>
            <div class="news-body">
                {% for item in year.items %}
                <div class="news-entry">
                    <span>{{ item.title }}</span>
                    <span class="news-date">{{ item.date | date: "%b %d" }}</span>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>
